@{
    ViewBag.Title = "Quản lý câu hỏi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <input type="hidden" id="hdCurrentPage" name="hdCurrentPage" value="" />
        <input type="hidden" id="hdCurRowBeforeDelOnScreen" name="hdCurRowBeforeDelOnScreen" value="" />

        <div class="row area-control">
            <div class="col-sm-12">
                <div class="form-inline">
                    <div class="form-group">
                        <input class="form-control" id="txtKeyWord" placeholder="Nội dung tìm kiếm" data-value="">
                        <select class="form-control" id="cboHMH" name="cboHMH" data-value="">
                            <option value="-1" selected="selected">-- Chọn hệ-môn học --</option>
                            @Html.Raw(ViewBag.HTMLComboTrainingSubject)
                        </select>
                        <select class="form-control" id="cbolevel" name="cbolevel" data-value="">
                            <option value="-1" selected="selected">-- Chọn mức độ --</option>
                            <option value="0">-- Dễ --</option>
                            <option value="1">-- Vừa --</option>
                            <option value="2">-- Khó --</option>
                        </select>
                        <select class="form-control" id="cbochoicetype" name="cbochoicetype" data-value="">
                            <option value="-1" selected="selected">-- Chọn loại lựa chọn --</option>
                            <option value="0">-- Một lựa chọn --</option>
                            <option value="1">-- Nhiều lựa chọn --</option>
                        </select>
                    </div>
                    <button type="button" class="btn btn-primary" id="btnSearch" onclick="Search();" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Đang xử lý"><i class="fa fa-search"></i>Tìm kiếm</button>
                </div>
            </div>
        </div>
        @if (ViewBag.InsertPermission != false)
        {
            <div class="row area-control">
                <div class="col-sm-12">
                    <div class="form-inline">
                        <button type="button" class="btn btn-primary" id="btnInsert" onclick="Insert();" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Đang xử lý"><i class="fa fa-plus"></i>Thêm</button>
                    </div>
                </div>
            </div>
        }
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-blue">
                    <div class="panel-heading">
                        quản lý câu hỏi
                    </div>

                    <table width="100%" class="table table-striped table-bordered table-hover" id="tblContent">
                        <thead>
                            <tr>
                                <th style="width:3%;">STT</th>
                                <th style="width:5%;">Mã</th>
                                <th>Nội dung câu hỏi</th>
                                <th style="width:7%;">Điểm dự kiến</th>
                                <th style="width:7%;">Số lượng câu trả lời</th>
                                <th>Hệ</th>
                                <th style="width:7%;">Mức độ</th>
                                <th style="width:7%;">Loại lựa chọn</th>
                                <th style="width:7%;">Tạo bởi</th>
                                <th style="width:7%;">Xử lý</th>
                            </tr>
                        </thead>
                        <tbody id="tblContentRow">
                            <tr><td colspan="12" class="table-content-null">Hiện không có nội dung</td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="row" id="divPaging" style="display:none;">
            <div class="col-sm-6">
                <div class="dataTables_info" id="dataTables-example_info" role="status" aria-live="polite">Chỉ số phần tử <span id="page-from-index"></span> đến <span id="page-to-index"></span> trên <span id="total-record"><span>phần tử</div>
            </div>
            <div class="col-sm-6" id="divPagingIndex">
                <ul id="paging" class="pagination"></ul>
            </div>
        </div>
    </div>
</div>

<!-- Modal xác nhận xóa -->
<div class="modal fade" id="ModalConfirmDelete" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Xác nhận</h4>
            </div>

            <div class="modal-body">
                <div id="divMessage" data-id=""></div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="Delele();">Đồng ý</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        var visiblepages = "@ViewBag.intVisiblePages";
    </script>
    <script src="~/Scripts/CustomScripts/Question/ManageQuestion.js"></script>
}
