@model DTO.SubjectDTO
@{
    ViewBag.Title = "Chi tiết môn học";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-lg-12">
        <h4 class="page-header">Nội dung chính</h4>
    </div>
</div>
@using (Html.BeginForm("UpdateSubject", "Subject", FormMethod.Post, new { @id = "frmSubjectUpdate" }))
{
    <input type="hidden" id="hdSubjectID" name="hdSubjectID" value="@(Model.SubjectID)" />

    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <div class="form-inline">
                    <label class="header-control col-sm-2">Mã môn học: </label>
                    <label class="header-control col-sm-9">@(Model.SubjectID)</label>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <div class="form-inline">
                    <label class="header-control col-sm-2">Tên môn học: </label>
                    <label class="header-control col-sm-9">@(Model.SubjectName)</label>
                </div>
            </div>
        </div>
    </div>
}

<div class="row">
    <div class="row area-control">
        <div class="form-inline group-submit">
            @if (ViewBag.UpdatePermission != false)
            {
                <button type="button" class="btn btn-primary" id="btnEdit" onclick="EditSubject();" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Đang xử lý"><i class="fa fa-pencil"></i>Chỉnh sửa</button>
            }

            <button type="button" class="btn btn-default" id="btnBack" onclick="BackManage();" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Đang xử lý"><i class="fa fa-remove"></i>Bỏ qua</button>
        </div>
    </div>
</div>

@section Scripts
{
    @*<script type="text/javascript">
            var visiblePages = "@ViewBag.intVisiblePages";
        </script>*@

    <script src="~/Scripts/CustomScripts/Subject/DetailSubject.js"></script>
}

